

<div id="actionsSideBar" class="col-sm-2">
	<div class="form-group">
		<button ng-click="" class="btn btn-primary btn-md form-control">New Messages  <span class="badge">1</span></button>
	</div>
	<div class="form-group">
		<button ng-click="logout()" class="btn btn-primary btn-md form-control">SignOut</button>
	</div>
	<div class="form-group">
		<h3>New Project:</h3>
	</div>
	<div class="form-group">
		<input type="text" name="newProject" ng-model="newProjectInfo.name" class="form-control" placeholder="Project Name">
	</div>
	<div class="form-group">
		<button type="button" class="btn btn-primary btn-md form-control" data-toggle="modal" data-target="#newProjectModal" ng-click="newProject()">New Project</button>
	</div>
	<div class="form-group">
		<h3>Find Friends:</h3>
	</div>
	<div class="form-group friendSearchInput">
		<input type="text" name="friendSearch" class="form-control" placeholder="Search by Email..." ng-model="friendSearch.email">
	</div>
	<div class="form-group">
		<ul class="list-group">
			<li class="list-group-item" ng-if="friendSearch.email && friend._id != user._id" ng-repeat="friend in users | filter: friendSearch.email | orderBy: email"><a href=""><span ng-bind="friend.email"></span></a><button class="btn btn-success badge" ng-click="addFriend(friend._id)">Add</button></li>
		</ul>
	</div>
</div>

<div id="myProjects" class="col-sm-10 container-fluid">
	<h3>My Projects</h3>
	<div class="project col-sm-4" ng-repeat="project in projects" ng-click="goToProject(project._id)">
		<h3 ng-bind="project.name"></h3>
	</div>
</div>
<!-- <div id="collaborations" class="col-md-5">
	<h3>Collboration project</h3>
	<div class="project col-md-4" ng-repeat="collabs in collaborations">
		<h3></h3>
	</div>
</div> -->

