<div class="container-fluid" id="loginRegBackground">
	<div class="col-sm-3">
		<div>
			<h2>Register</h2>
		</div>
		<form ng-submit="registerUser()" method="post" ng-model="register" id="register">
			<div class="form-group">
				<input type="text" name="userName" placeholder="User Name" ng-model="register.userName" class="form-control">
			</div>
			<div class="form-group">
				<input type="email" name="email" placeholder="Email" ng-model="register.email" class="form-control">
			</div>
			<div class="form-group">
				<input type="password" name="password" placeholder="Password" ng-model="register.password" class="form-control">
			</div>
			<div class="form-group">
				<input type="password" name="confirmPassword" placeholder="Confirm Password" ng-model="register.confirmPassword" class="form-control">
			</div>
			<div class="form-group">
				<input type="submit" class="btn btn-primary btn-md" value="Register" class="form-control">
			</div>
		</form>
	</div>
	<div class="col-sm-3">
		<div>
			<h2>Login</h2>
		</div>
		<form ng-submit="loginUser()" method="post" ng-model="login" id="login">
			<div class="form-group">
				<input type="text" name="userName" placeholder="Email" ng-model="login.email" class="form-control">
			</div>
			<div class="form-group">
				<input type="text" name="password" placeholder="Password" ng-model="login.password" class="form-control">
			</div>
			<div class="form-group">
				<input type="submit" class="btn btn-primary btn-md" value="Login" class="form-control">
			</div>
		</form>
	</div>
</div>

<!-- //////////////////////////////////////////////////////
 		register modal. using $scope.register
 ////////////////////////////////////////////////////// -->
 

<!-- ////////////////////////////////////////////////////////////  			this is the login modal. Using $scope.login
//////////////////////////////////////////////////////////////// -->

<div class="jumbotron text-center" id="mainContentInfo">
	<p>BurnDown is dedicated to knocking out backlogs! By creating simple and easy to use projects board based on the kanban method, you can manage projects with ease. Register for a free account today, and see how burndown can help tackle any project!</p>
</div>
